
<ion-content [fullscreen]="true">
  <div id="header">
    <ion-icon class="icon1" size="large" name="arrow-back" routerLink="/welcome"></ion-icon>
    <div id="app-bar">
    </div>

    <div id="logo">
      <img src="/assets/images/Logo.png" alt="Logo"/>
    </div>
    <h2>JastipYuk</h2>
  </div>

  <ion-card class="ion-padding">
    <ion-card-content>
      <h1>Welcome</h1>
      <p>Senang Bertemu Anda</p>

      <ion-button expand="block" routerLink="/register-user" fill="outline"  class="ion-margin-bottom">Register User</ion-button>
      <ion-button expand="block" routerLink="/register-seller" fill="outline"  class="ion-margin-bottom">Register Seller</ion-button> 
      <ion-button  expand="block" routerLink="/register-driver" fill="outline" class="ion-margin-bottom">Register Kurir</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
