swiper-container {
  swiper-slide {
    height: 22vh;
    img {
      width: 100%;
      height: 23vh;
      border-radius: 5px;
      box-shadow: -1px 11px 13px -6px;
    }
  }
}

ion-content {

    div.topic {
        font-size: 1.3rem;
        margin: 0 10px;
        top: 8%;
        position: relative;
    }

    ion-card {
        display: flex;
        flex-direction: column;
        top: 10%;
       
        img {
          align-self: center;
          margin-bottom: 10px;
          width: 80%;
          height: 120px;
        }
      }
}

  
