
<ion-content [fullscreen]="true">
  <div id="header">
    <div id="app-bar">
    </div>

    <div id="logo">
      <img src="./assets/images/Logo.png" alt="logo"/>
    </div>
    <h2>APP ICON</h2>
  </div>

  <ion-card class="ion-padding">
    <ion-card-content>
      <h1>Welcome</h1>
      <p>Senang Bertemu Anda</p>

      <ion-button expand="block" routerLink="/tabs/login" class="ion-margin-bottom">Login</ion-button>
      <ion-button expand="block" routerLink="/pilih-register" fill="outline">Sign Up</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>