<ion-card> 
  <ion-card-header class="header"> 
    <div> 
      <ion-card-subtitle class="judul">Bayu Store</ion-card-subtitle> 
    </div> 
  </ion-card-header> 
 
  <ion-card-content> 
    <div class="body"> 
      <div class="image"> 
        <img src="../../../../assets/images/ayampnyt.jpeg" alt=""> 
      </div> 
      <div class="teks"> 
        <div> 
          <span>Ayam Penyet</span> 
        </div> 
        <div> 
          <span>12000</span> 
          <span> x </span> 
          <span>4</span> 
        </div> 
      </div> 
    </div> 
  </ion-card-content> 
</ion-card>

<ion-footer [translucent]="true">
  <ion-button expand="block" color="primary">Order</ion-button>
</ion-footer>