ion-header ion-toolbar ion-title {
    background-color: blueviolet;
  }
  
  ion-card .header 
  { 
    display: flex; 
    justify-content: space-between; 
    flex-direction: row; 
    background-color: #E8F6EF; 
    margin-bottom: 10px; 
    align-items: center; 
  } 
  ion-card-content{ 
    padding-bottom: 0; 
  } 
  ion-card ion-card-content .body 
  { 
    display: flex; 
  } 
  ion-card ion-card-content .body .teks 
  { 
    margin-left: 20px; 
  } 
  ion-card ion-card-content .body .image img 
  { 
    width: 80px; 
    height: 80px; 
    border-radius: 20%; 
  } 
  ion-card .footer 
  { 
    display: flex; 
    justify-content: flex-end; 
  } 
   
  ion-card .footer .button 
  { 
    width: 80px; 
    height: 40px; 
    margin-right: 10px; 
    margin-bottom: 10px; 
  }
  
  