<ion-content [fullscreen]="true">
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="/pilih-register"></ion-icon>
      <div id="logo">
        <img src="../../../assets/images/Logo.png" alt="Logo"/>
      </div>
    </div>

    <h1>Register Seller</h1>
    <p>Silahkan Mendaftar</p>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <ion-item>
          <ion-icon name="person"></ion-icon>
          <ion-input type="text" placeholder="Username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="call-outline"></ion-icon>
          <ion-input type="text" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="eye-outline"></ion-icon>
          <ion-input type="text" placeholder="Password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="storefront-outline"></ion-icon>
          <ion-input type="text" placeholder="NamaToko"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="call-outline"></ion-icon>
          <ion-input type="text" placeholder="PhoneSeller"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="home"></ion-icon>
          <ion-input type="password" placeholder="AlamatToko"></ion-input>
        </ion-item>
        <ion-button expand="block">
          Register
        </ion-button>
      </ion-card-content>
    </ion-card>

    <div class="line-text">
      <span class="lines"></span>
      
    </div>

    
  </div>
</ion-content>

