<ion-content [fullscreen]="true"> 
  <ion-card> 
  <ion-card-header class="header"> 
    <div> 
      <ion-card-subtitle class="judul">Bayu Store</ion-card-subtitle> 
    </div> 
    <div> 
      <ion-card-subtitle class="jdudl">Perjalanan</ion-card-subtitle> 
    </div> 
  </ion-card-header> 
 
  <ion-card-content> 
    <div class="body"> 
      <div class="image"> 
        <img src="../../../../assets/images/sateayam2.jpeg" alt=""> 
      </div> 
      <div class="teks"> 
        <div> 
          <span>Sate Ayam</span> 
        </div> 
        <div> 
          <span>12000</span> 
          <span> x </span> 
          <span>4</span> 
        </div> 
        <div class="kurir"> 
          <div> 
            <span>Kurir : </span> 
            <span>Bayu</span> 
          </div> 
          <div> 
            <span>WhatsApp : </span> 
            <span>0897578868</span> 
          </div> 
        </div> 
      </div> 
    </div> 
  </ion-card-content> 
    <div class="footer"> 
      <ion-button class="button" color="success">Terima</ion-button> 
    </div> 
</ion-card> 
<ion-card> 
  <ion-card-header class="header"> 
    <div> 
      <ion-card-subtitle class="judul">Bayu Store</ion-card-subtitle> 
    </div> 
    <div> 
      <ion-card-subtitle class="jdudl">Proses</ion-card-subtitle> 
    </div> 
  </ion-card-header> 
 
  <ion-card-content> 
    <div class="body"> 
      <div class="image"> 
        <img src="../../../../assets/images/ayampnyt.jpeg" alt=""> 
      </div> 
      <div class="teks"> 
        <div> 
          <span>Ayam Penyet</span> 
        </div> 
        <div> 
          <span>12000</span> 
          <span> x </span> 
          <span>4</span> 
        </div> 
        <div class="kurir"> 
          <div> 
            <span>Kurir : </span> 
            <span></span> 
          </div> 
          <div> 
            <span>WhatsApp : </span> 
            <span></span> 
          </div> 
        </div> 
      </div> 
    </div> 
  </ion-card-content> 
  <div class="footer"> 
    <ion-button class="button" color="success">Diterima</ion-button> 
  </div> 
</ion-card> 
 
</ion-content>