<ion-content>
  <div class="profile-container ion-padding">
    <div class="heading ion-padding">
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label routerLink="/editprofile">Edit Profile</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="document-text-outline"></ion-icon>
          <ion-label routerLink="/about">About</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="help-circle-outline"></ion-icon>
          <ion-label>Help & Support</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="exit-outline"></ion-icon>
          <ion-label routerLink="/tabs/home">Log Out</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>